.quiz-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.slide-from-left {
  transform: translateX(-150%);
}

.slide-from-right {
  transform: translateX(100%);
}

.quiz-slide {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.quiz-slide.active {
  transform: translateX(0);
}

h1 {
  margin: 20px 0;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  max-height: 300px;
  margin-bottom: 20px;
}

.choice {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  color: white;
  background-color: #808080;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  text-align: center;
}

.choice.selected {
  background-color: #00A36C;
}

#prev,
#next {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  font-size: 18px;
  color: white;
  background-color: #FF6F00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  text-align: center;
}

#prev:hover,
#next:hover {
  background-color: #FFA726;
}

#submit,
#restart {
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-size: 18px;
  color: white;
  background-color: #808080;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  text-align: center;
}

#submit:hover,
#restart:hover {
  background-color: #00A36C;
}

#choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

#navigation {
  margin-top: 20px;
}

#prev {
  margin-right: 10px;
}

#next {
  margin-left: 10px;
}
